<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">


	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="test.listeners.CustomListeners" />
	</listeners>

	<test name="LoginTest">
		<classes>

			<class name="test.testcases.LoginTest" />
		</classes>
	</test>

	<test name="Create Account Test">
		<classes>

			<class name="test.testcases.CreateAccountTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
